.App {
  text-align: center;
}

.main-navigation {
  box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
  height: 85px;

} 

.table{
  box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);

}

tr:nth-child(odd) {
  background-color:#F2F5FA;
}

tr:nth-child(even) {
  background-color:#E6EFF6;
}

th {
  background-color: #E6EFF6;
}

#dropdown-button-drop-up{
  color: white;
  font-weight: bold;
  background-color: #013C71;
  margin-bottom: 12.5px;
  border-color: #E6EFF6;
  border-width:1.5;
}

.nav-link:hover {
  height: 38px;
  background-color: #F8981C;
  border-radius:8px;
}


